// Hero Overlay

.content-over-media:before {
  content: "";
  // background: var(--content-over-media-gradient-overlay, rgb(var(--content-over-media-overlay)));
  background: #00000000;
  border-radius: inherit;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Menu button

a.stiky-btn {
    border: 2px solid;
    padding: 10px;
  }
  a.mobile-stiky-btn {
    padding: 10px;
    border: 1px solid;
  }

  .ratings-section {
    margin: 0px 0px -10px 0px !important;
  }

  .ratings {
    list-style: none;
    display: flex !important;
    margin: 0px 0px 0px -4px;
    padding-top: 6px;
  }

  .fa-star {
    font-size: 15px;
    margin-right: 2px;
  }